<div class="max-w-7xl mx-auto p-6">
  <h2 class="text-2xl font-bold text-gray-800 mb-4">Manage Orders</h2>

  <div class="overflow-x-auto shadow-lg rounded-xl bg-white">
    <table class="w-full border-collapse">
      <thead>
        <tr class="bg-green-500 text-white text-sm uppercase">
          <th class="p-3 text-left">Order ID</th>
          <th class="p-3 text-left">Product</th>
          <th class="p-3 text-left">Customer</th>
          <th class="p-3 text-left">Date</th>
          <th class="p-3 text-left">Total</th>
          <th class="p-3 text-left">Payment</th>
          <th class="p-3 text-left">Status</th>
          <th class="p-3 text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders" class="border-b hover:bg-gray-100 text-sm">
          <td class="p-3 font-semibold">#{{ order._id.slice(-6).toUpperCase() }}</td>
          <td class="p-3">
            <div class="flex items-center gap-4 w-full sm:w-auto">
                <img
                *ngIf="order.items?.length && order.items[0].productId?.images?.length"
                [src]="order.items[0].productId.images[0]"
                alt="{{ order.items[0].productId.name }}"
                class="w-24 h-24 object-cover rounded-xl border border-gray-100"
                />
                <div class="flex-1">
                    <h4 class="text-lg font-semibold text-gray-800">
                        {{ order.items[0].productId.name }}
                    </h4>
                </div>
            </div>
            </td>
          <td class="p-3">
            <p class="font-medium text-gray-800">{{ order.userId.name }}</p>
            <p class="text-xs text-gray-500">{{ order.userId.email }}</p>
          </td>
          <td class="p-3">{{ order.date | date:'medium' }}</td>
          <td class="p-3 font-bold text-gray-900">₹{{ order.totalAmount }}</td>
          <td class="p-3 uppercase">{{ order.paymentType }}</td>
          <td class="p-3">
            <select
              class="border rounded-md px-2 py-1 text-sm"
              [(ngModel)]="order.status"
              (change)="updateOrderStatus(order)">
              <option value="pending">Pending</option>
              <option value="inprogress">In Progress</option>
              <option value="completed">Completed</option>
              <option value="cancelled">Cancelled</option>
            </select>
          </td>
          <td class="p-3 text-center flex gap-2 justify-center">
            <!-- <button class="px-3 py-1 bg-blue-600 text-white text-xs rounded-md hover:bg-blue-700"
              (click)="viewOrder(order)">
              View
            </button> -->
            <button class="px-3 py-1 bg-red-600 text-white text-xs rounded-md hover:bg-red-700"
              (click)="deleteOrder(order._id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
